#textdomain wesnoth-Tale_of_a_Mage
[scenario]
name= _ "Weldyn Down"
id=14_Weldyn_Down
turns=12
{TM_MAP 14_Weldyn_Down.map}
next_scenario=15_A_Daring_Rescue
victory_when_enemies_defeated=no
[music]
	name=revelation.ogg
[/music]

	{DEFAULT_SCHEDULE}

	[side]
		type=Advanced Mage
		id=Dillon
		name= _ "Dillon"
		side=1
		canrecruit=yes
		profile=portraits/dillon.png
		controller=human
		team_name=loyalists
	[/side]
	
	[side]
		side=2
		no_leader=yes
		controller=ai
		team_name=loyalists
	[/side]
	
	[story]
		[part]
			background=maps/wesnoth.png
			show_title=yes
			{NEW_JOURNEY 302 500}
			{NEW_JOURNEY 323 525}
			{NEW_JOURNEY 353 532}
			{NEW_JOURNEY 385 529}
			{NEW_JOURNEY 416 520}
			{NEW_JOURNEY 454 504}
			{NEW_JOURNEY 483 520}
			{NEW_JOURNEY 513 532}
			{NEW_JOURNEY 543 542}
			{NEW_BATTLE 575 545}
		[/part]
	[/story]
		
	[event]
		name=prestart
		[recall]
			id=Arand
		[/recall]
		[recall]
			id=Lhyron
		[/recall]
	[/event]
	
	[event]
		name=start
		[message]
			speaker=Dillon
			message= _ "What...is this?"
		[/message]
		[message]
			speaker=Arand
			message= _ "No! This cannot be. Someone has attacked Weldyn."
		[/message]
		{SCROLL_TO 16 14}
		[message]
			speaker=Lhyron
			message= _ "Look! The castle has had parts of it completely blown away. How could anyone cause so much destruction so quickly?"
		[/message]
		[message]
			speaker=Dillon
			message= _ "No weapon could have done that. Only powerful magic, of the greatest magi, could have done such a thing."
		[/message]
		{SCROLL_TO 10 14}
		{GENERIC_UNIT 2 (Wounded Lieutenant) 10 14 }
		[role]
			type=Wounded Lieutenant
			role=survivor
		[/role]
		[message]
			role=survivor
			message= _ "What? Who's that?"
		[/message]
		{MOVE_UNIT role=survivor 6 12}
		[message]
			role=survivor
			message= _ "Oh, Prince Arand! We did our best, your highness...but I guess it wasn't enough..."
		[/message]
		{MOVE_UNIT id=Arand 5 12}
		[message]
			speaker=Arand
			message= _ "What has happened here? Who did this?"
		[/message]
		[message]
			role=survivor
			message= _ "We were...at our posts...as usual...undead...a hoard...like I've never seen..."
		[/message]
		[message]
			speaker=Dillon
			message= _ "Oh..."
		[/message]
		[message]
			speaker=Arand
			message= _ "They attacked you? Did you see their leader?"
		[/message]
		[message]
			role=survivor
			message= _ "...lich...headed straight for the king...we managed to...hold them off...until the...royal...family...escaped..."
		[/message]
		[message]
			speaker=Arand
			message= _ "Dillon, get me a healer, now! I promise you, Lieutenant, you will be honored for this. I will make sure of that."
		[/message]
		[message]
			role=survivor
			message= _ "...thank...you......your...."
		[/message]
		[kill]
			role=survivor
			animate=yes
		[/kill]
		[endlevel]
			result=continue_no_save
		[/endlevel]
	[/event]
	
[/scenario]
